@{
    ViewData["Title"] = "Home Page";

}
<br />
<br />
<link rel="stylesheet" href="~/css/progressbar.css" />
<div class="container">
    <ul class="progressbar">
        <li class="active">Welcome</li>
        <li >Personal Info</li>
        <li >Select classes</li>
        <li>Export</li>
    </ul>
</div>
<br>

<h1>Welcome to MyDegree</h1>
<h3>We are here to help you easily plan your degree!</h3>

<a asp-action="RsvpForm"><button type="button" class="btn btn-primary">Start Planning</button></a>

<br />
<p class=“intro”>
    <br />
    Start by choosing the degree that you are pursuing.<br>
    Next, choose the courses that you are interest in taking. Don’t forget to
    check out the legend and degree requirements in order to fullfill all of your requirements.<br>
    Finally, export your course plan.<br>
</p>

<p>This application is here to help you easily plan your degree.</p>

<p>How to navigate: </p>
